@model IEnumerable<NewsPortal.Models.News>

<h2>Последние новости</h2>

<div class="row">
    @foreach (var n in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                @if (!string.IsNullOrEmpty(n.ImagePath))
                {
                    <img src="@n.ImagePath" class="card-img-top" style="height: 200px; object-fit: cover;" />
                }
                <div class="card-body">
                    <h5 class="card-title">@n.Title</h5>
                    <a asp-controller="News" asp-action="Details" asp-route-id="@n.Id" class="btn btn-primary mt-2">Подробнее</a>
                </div>
            </div>
        </div>
    }
</div>
